/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  .header-section {
    padding: 15px;

  }

  .navbar-toggler {
    background-color: white;
  }
  .banner-section {
    padding: 60px 15px 80px;
    text-align: center;
  }

  .banner-section .inner-banner h1 {
    font-size: 28px;
    line-height: 36px;
    padding: 15px 18px;
    position: relative;
  }
  .banner-section .inner-banner h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scale(10%, 100%);
    left: 0;
    bottom: 2px;
    transition: 0.8s;
  }

  .banner-section:hover .inner-banner h1::after {
    transform: scale(25%, 100%);
    transition: 0.8s;
  }

  .banner-section .inner-banner .line {
    width: 0%;
  }

  .banner-section .inner-banner:hover .line {
    width: 0%;
  }

  .banner-section .inner-banner p {
    font-size: 15px;
    line-height: 22px;
    padding: 5px 40px 10px;
  }

  .banner-section .inner-form .card {
    margin: 0px 20% 0px;
    border-radius: 5px;
  }

  .banner-section .inner-form .btns {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .banner-section .inner-form .card .card-footer a {
    padding: 3% 30%;
}
  .social {
    text-align: center;
    padding: 20px 15px;
  }

  .social .social-details h4 {
    text-align: center;
  }

  .social .social-details p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-top: 5px;
    padding: 0px 95px;
  }

  .social .social-icon a {
    font-size: 24px;
    line-height: 28px;
    padding: 0px 1.8%;
  }

  .social .social-icon img {
    width: 24px;
    height: 24px;
  }
  .tab-section {
    padding: 50px 15px;
}
  .tab-section .inner-tab .tabs .tab {
    padding: 40px 25px;
}
.tab-section .inner-tab .contents .tab-content h3 {
  padding-bottom: 15px;
}
.tab-section .inner-tab .contents .tab-content .inner-img {
  text-align: left;
  padding-top: 40px;
}
.sub-list-section {
  padding: 40px 15px;
  text-align: center;
}
.sub-list-section .sub-details .inner-sub h4 {
  position: relative;
}

.sub-list-section .sub-details .inner-sub h4::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ff8b38;
  transform: scale(8%, 100%);
  left: 0;
  bottom: -20px;
  transition: 0.8s;
}

.sub-list-section:hover .sub-details .inner-sub h4::after {
  transform: scale(15%, 100%);
  transition: 0.8s;
}

/* for cancel previous hover/line */
.sub-list-section .sub-details .inner-sub .line {
  width: 0%;
  margin: 20px 0px;
}

/* for cancel previous hover/line */
.sub-list-section .sub-details:hover .inner-sub .line {
  width: 0%;
}
.sub-list-section .sub-details .inner-sub p {
  font-size: 15px;
  line-height: 22px;
  padding: 0% 15%;
}

.sub-list-section .sub-details .upload {
  padding-top: 5px;
  display: inline-block;
}

.sub-list-section .sub-details .upload .right {
  padding: 8px 0px 5px;
}

.sub-list-section .sub-details .upload .right p {
  font-size: 15px;
  padding: 0% 11%;
}

.sub-list-section .sub-details .download {
  padding-top: 0px;
  display: inline-block;
}

.sub-list-section .sub-details .download .right {
  padding: 15px 0px;
}

.sub-list-section .sub-details .download .right p {
  font-size: 15px;
  padding: 0% 15%;
}
.standard-pic {
  padding: 40px 15px;
}

.standard-pic .inner-details {
  text-align: center;
  padding-top: 20px;
}

.standard-pic .inner-details h4 {
  position: relative;
}

.standard-pic .inner-details h4::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ff8b38;
  transform: scale(10%, 100%);
  left: 0;
  bottom: -20px;
  transition: 0.8s;
}

.standard-pic:hover .inner-details h4::after {
  transform: scale(20%, 100%);
  transition: 0.8s;
}

/* for cancel previous hover/line */
.standard-pic .inner-details .line {
  width: 0%;
  margin: 20px 0px;
}

/* for cancel previous hover/line */
.standard-pic .inner-details:hover .line {
  width: 0%;
}

.standard-pic .inner-details p {
  font-size: 15px;
  padding: 0% 11%;
}

.standard-pic .inner-details .last {
  padding: 0% 11%;
}
.standard-pic .inner-pic {
  text-align: center;
}
.quality {
  padding: 50px 15px;

}

.quality .inner-details h4 {
  font-size: 30px;
  line-height: 38px;
}

.quality .inner-details h4::after {
  transform: scale(10%, 100%);
}

.quality:hover .inner-details h4::after {
  transform: scale(20%, 100%);
}
.quality .inner-details p {
  font-size: 15px;
  padding-top: 25px;
}
.quality .inner-quality {
padding-top: 10px;
}
.quality .inner-quality h5 {
font-size: 20px;
padding-top: 12px;
padding-bottom: 3px;
}
.quality .inner-quality p {
 padding: 0% 6%;
}
.pricing-section {
  padding: 50px 25px;
}
.pricing-section .inner-details h4 {
  font-size: 30px;
  line-height: 36px;
}
.pricing-section .inner-details h4::after{
  transform: scale(10%, 100%);
}
.pricing-section:hover .inner-details h4::after{
  transform: scale(20%, 100%);
}
.pricing-section .inner-details p {
  font-size: 15px;
  padding-top: 24px;
  padding-bottom: 30px;
}
.pricing-section .card {
  margin: 0px 75px 40px;

}
.pricing-section .card .card-body h2 {
  font-size: 44px;
  line-height: 35px;
 
}
.pricing-section .card .card-body p {
  font-size: 15px;
}
.pricing-section .card .card-footer p {
  font-size: 15px;
}
.testimonial-section {
  width: 100%;
  padding: 90px 0px;
}
.testimonial-section {
  padding: 50px 25px 30px;
}
.testimonial-section .inner-details h4 {
  font-size: 30px;
 
}
.testimonial-section .inner-details h4::after{
  transform: scale(15%, 100%);
  bottom: -10px;
  
}
.testimonial-section:hover .inner-details h4::after{
  transform: scale(25%, 100%);

}
.testimonial-section .inner-details p {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.testimonial-section .inner-comment {
  text-align: center;
}
.testimonial-section .inner-comment .details {
  font-size: 15px;
  width: 100%;
  padding: 23px 20px;
}
.testimonial-section .inner-comment .details::after {
  left: 38%;
}
.testimonial-section .inner-comment .info {
  padding: 1% 35% 6%;
}
.stylish-section {
  padding: 50px 15px;

}
.stylish-section .inner-details h4 {
  font-size: 30px;
}
.stylish-section .inner-details h4::after{
  transform: scale(10%, 100%);
  bottom: -10px;
}
.stylish-section:hover .inner-details h4::after{
  transform: scale(20%, 100%);
}
.stylish-section .inner-details p {
  font-size: 15px;
  padding: 20px 65px 10px;
}
.stylish-section .inner-details .btns a {
  padding: 1.5% 2.5%;
  font-size: 15px;
}
.Contact-section {
  padding: 50px 15px;

}
.Contact-section .inner-contact h4 {
  font-size: 30px;
}
.Contact-section .inner-contact h4::after{
  transform: scale(15%, 100%);
  bottom: -10px;

}
.Contact-section:hover .inner-contact h4::after{
  transform: scale(25%, 100%);
}
.Contact-section .inner-contact p {
  font-size: 15px;
  padding: 20px 15px 10px;
}
.Contact-section .form-part {
  margin-top: 20px;
}
.Contact-section .btns a {
  padding: 2% 3%;
 
}
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */

  .header-section {
    padding: 15px;

  }

  .navbar-toggler {
    background-color: white;
  }

  .banner-section {
    padding: 50px 15px 70px;
    text-align: center;
  }

  .banner-section .inner-banner h1 {
    font-size: 28px;
    line-height: 36px;
    padding: 15px 18px;
    position: relative;
  }
  .banner-section .inner-banner h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scale(15%, 100%);
    left: 0;
    bottom: 2px;
    transition: 0.8s;
  }

  .banner-section:hover .inner-banner h1::after {
    transform: scale(25%, 100%);
    transition: 0.8s;
  }

  .banner-section .inner-banner .line {
    width: 0%;
  }

  .banner-section .inner-banner:hover .line {
    width: 0%;
  }

  .banner-section .inner-banner p {
    font-size: 15px;
    line-height: 22px;
    padding: 0px 20px 10px;
  }

  .banner-section .inner-form .card {
    margin: 0px 3% 0px;
    border-radius: 5px;
  }

  .banner-section .inner-form .btns {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .banner-section .inner-form .card .card-footer a {
    padding: 3% 30%;
}

  .social {
    text-align: center;
    padding: 20px 15px;
  }

  .social .social-details h4 {
    text-align: center;
  }

  .social .social-details p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-top: 5px;
    padding: 0px 15px;
  }

  .social .social-icon a {
    font-size: 24px;
    line-height: 28px;
    padding: 0px 1.8%;
  }

  .social .social-icon img {
    width: 24px;
    height: 24px;
  }

  .tab-section {
    padding: 40px 0px 40px;
  }

  .tab-section .inner-tab {
    display: block;
  }

  .tab-section .inner-tab .tabs {
    display: flex;
    height: 100%;
    width: 300px;
    margin: 0% 13% 8%;
  }

  .tab-section .inner-tab .contents .tab-content.show {
    padding: 0px 20px;
  }

  .tab-section .inner-tab .contents .tab-content h3 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
  }

  .tab-section .inner-tab .contents .tab-content p {
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    padding: 0% 0%;
  }

  .tab-section .inner-tab .contents .tab-content .last {
    margin-bottom: 20px;
  }

  .tab-section .inner-tab .contents .tab-content .btns {
    text-align: center;
    margin-bottom: 30px;
  }

  .tab-section .inner-tab .contents .tab-content .inner-img {
    text-align: center;
  }

  .sub-list-section {
    padding: 40px 15px;
    text-align: center;
  }

  .sub-list-section .sub-details .inner-sub h4 {
    position: relative;
  }

  .sub-list-section .sub-details .inner-sub h4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff8b38;
    transform: scale(15%, 100%);
    left: 0;
    bottom: -20px;
    transition: 0.8s;
  }

  .sub-list-section:hover .sub-details .inner-sub h4::after {
    transform: scale(25%, 100%);
    transition: 0.8s;
  }

  /* for cancel previous hover/line */
  .sub-list-section .sub-details .inner-sub .line {
    width: 0%;
    margin: 20px 0px;
  }

  /* for cancel previous hover/line */
  .sub-list-section .sub-details:hover .inner-sub .line {
    width: 0%;
  }

  .sub-list-section .sub-details .inner-sub p {
    font-size: 15px;
    line-height: 22px;
    padding: 0% 7%;
  }

  .sub-list-section .sub-details .upload {
    padding-top: 15px;
    display: inline-block;
  }

  .sub-list-section .sub-details .upload .right {
    padding: 15px 0px 5px;
  }

  .sub-list-section .sub-details .upload .right p {
    font-size: 15px;
    padding: 0% 11%;
  }

  .sub-list-section .sub-details .download {
    padding-top: 2px;
    display: inline-block;
  }

  .sub-list-section .sub-details .download .right {
    padding: 15px 0px;
  }

  .sub-list-section .sub-details .download .right p {
    font-size: 15px;
    padding: 0% 5%;
  }

  .standard-pic {
    padding: 40px 15px;
  }

  .standard-pic .inner-details {
    text-align: center;
    padding-top: 20px;
  }

  .standard-pic .inner-details h4 {
    position: relative;
  }

  .standard-pic .inner-details h4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff8b38;
    transform: scale(15%, 100%);
    left: 0;
    bottom: -20px;
    transition: 0.8s;
  }

  .standard-pic:hover .inner-details h4::after {
    transform: scale(25%, 100%);
    transition: 0.8s;
  }

  /* for cancel previous hover/line */
  .standard-pic .inner-details .line {
    width: 0%;
    margin: 20px 0px;
  }

  /* for cancel previous hover/line */
  .standard-pic .inner-details:hover .line {
    width: 0%;
  }

  .standard-pic .inner-details p {
    font-size: 15px;
    padding: 0% 2%;
  }

  .standard-pic .inner-details .last {
    padding: 0% 2%;
  }

  .quality {
    padding: 40px 15px;

  }

  .quality .inner-details h4 {
    font-size: 30px;
    line-height: 38px;
  }

  .quality .inner-details h4::after {
    transform: scale(15%, 100%);
  }

  .quality:hover .inner-details h4::after {
    transform: scale(25%, 100%);
  }
  .quality .inner-details p {
    font-size: 15px;
    padding-top: 25px;
}
.quality .inner-quality {
  padding-top: 20px;
}
.quality .inner-quality h5 {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 3px;
}
.pricing-section {
  padding: 40px 25px;
}
.pricing-section .inner-details h4 {
  font-size: 30px;
  line-height: 36px;
}
.pricing-section .inner-details h4::after{
  transform: scale(15%, 100%);
}
.pricing-section:hover .inner-details h4::after{
  transform: scale(25%, 100%);
}
.pricing-section .inner-details p {
  font-size: 15px;
  padding-top: 24px;
  padding-bottom: 30px;
}
.pricing-section .card {
  margin-right: 0px;
  margin-bottom: 35px;

}
.pricing-section .card .card-body h2 {
  font-size: 44px;
  line-height: 35px;
 
}
.pricing-section .card .card-body p {
  font-size: 15px;
}
.pricing-section .card .card-footer p {
  font-size: 15px;
}
.testimonial-section {
  width: 100%;
  padding: 90px 0px;
}
.testimonial-section {
  padding: 40px 15px;
}
.testimonial-section .inner-details h4 {
  font-size: 30px;
 
}
.testimonial-section .inner-details h4::after{
  transform: scale(15%, 100%);
  bottom: -10px;
  
}
.testimonial-section:hover .inner-details h4::after{
  transform: scale(25%, 100%);

}
.testimonial-section .inner-details p {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.testimonial-section .inner-comment {
  text-align: center;
}
.testimonial-section .inner-comment .details {
  font-size: 15px;
  width: 100%;
  padding: 23px 20px;
}
.testimonial-section .inner-comment .details::after {
  left: 29%;
}
.testimonial-section .inner-comment .info {
  padding: 1% 25% 6%;
}
.stylish-section {
  padding: 40px 15px;

}
.stylish-section .inner-details h4 {
  font-size: 30px;
}
.stylish-section .inner-details h4::after{
  transform: scale(15%, 100%);
  bottom: -10px;
}
.stylish-section:hover .inner-details h4::after{
  transform: scale(25%, 100%);
}
.stylish-section .inner-details p {
  font-size: 15px;
  padding: 20px 0px 10px;
}
.stylish-section .inner-details .btns a {
  padding: 1.5% 2.5%;
  font-size: 15px;
}
.Contact-section {
  padding: 40px 15px;

}
.Contact-section .inner-contact h4 {
  font-size: 30px;
}
.Contact-section .inner-contact h4::after{
  transform: scale(15%, 100%);
  bottom: -10px;

}
.Contact-section:hover .inner-contact h4::after{
  transform: scale(25%, 100%);
}
.Contact-section .inner-contact p {
  font-size: 15px;
  padding: 30px 15px 10px;
}
.Contact-section .btns a {
  padding: 2% 3%;
 
}
}